<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/buy.css"/>


</head>
<body>

<div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner bg-info" role="listbox">
            <div class="mySlides active">
            <img src="meal1.jpg" style="width:100%">
            </div>
            <div class="mySlides active">
            <img src="meal2.jpg" style="width:100%">
            </div>
            <div class="mySlides active">
            <img src="meal3.jpg" style="width:100%">
             </div>
            <div class="mySlides active">
            <img src="meal4.jpg" style="width:100%">
            </div>
            <div class="mySlides active">
            <img src="coffee.jpg" style="width:100%">
            </div>
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>        
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
            <span class="dot" onclick="currentSlide(4)"></span> 
            <span class="dot" onclick="currentSlide(5)"></span> 
        </div>
    </div>
    </div>
    <br>

<!-- Start price Area -->
			<section class="price-area pt-50" id="price">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-12">
							<div class="title text-center">
								<h1 class="mb-10 text-uppercase">Buy what you want with one tap of the card</h1>
								<p>Eat better and smarter</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-6">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Meal Option One</h4>
								</div>
                                <img src="meal1.jpg" width="200" height="auto">
								<div class="price-bottom">
									<h1><span>£</span> 5.99</h1>
									<a href="/transactionProduct/5c7d1b5bf35e6e523853b50e" class="primary-btn header-btn">Buy Now</a>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Meal Option Two</h4>
								</div>
                                <img src="meal2.jpg" width="200" height="auto">

								<div class="price-bottom">
									<h1><span>£</span> 7.55</h1>
									<a href="/transactionProduct/5c7d1b81f35e6e523853b50f" class="primary-btn header-btn">Buy Now</a>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Meal Option Three</h4>
								</div>
                                <img src="meal3.jpg" width="200" height="auto">

								<div class="price-bottom">
									<h1><span>£</span> 3.99</h1>
									<a href="/transactionProduct/5c7d1ba4f35e6e523853b510" class="primary-btn header-btn">Buy Now</a>
								</div>
							</div>				
						</div>		
                        <div class="col-lg-6">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Meal Option Four</h4>
								</div>
                                <img src="meal4.jpg" width="200" height="auto">

								<div class="price-bottom">
									<h1><span>£</span> 4.99</h1>
									<a href="/transactionProduct/5c7d1baff35e6e523853b511" class="primary-btn header-btn">Buy Now</a>
								</div>
							</div>				
						</div>								
                          <div class="col-lg-6">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Snack Selection One</h4>
								</div>
                                <img src="snack.jpg" width="200" height="auto">

								<div class="price-bottom">
									<h1><span>£</span> 2.55</h1>
									<a href="/transactionProduct/5c7d1bdbf35e6e523853b513" class="primary-btn header-btn">Buy Now</a>
								</div>
							</div>				
						</div>				
                                      <div class="col-lg-6">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Snack Selection Two</h4>
								</div>
                                <img src="snack2.jpg" width="200" height="auto">

								<div class="price-bottom">
									<h1><span>£</span> 1.35</h1>
									<a href="/transactionProduct/5c7d1be1f35e6e523853b514" class="primary-btn header-btn">Buy Now</a>
								</div>
							</div>				
						</div>						
                        	 <div class="col-lg-6">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Tea</h4>
								</div>
                                <img src="tea.jpg" width="200" height="auto">

								<div class="price-bottom">
									<h1><span>£</span> 1.20</h1>
									<a href="/transactionProduct/5c7d1bf8f35e6e523853b515" class="primary-btn header-btn">Buy Now</a>
								</div>
							</div>				
						</div>			
            	 <div class="col-lg-6">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Coffee</h4>
								</div>
                 <img src="coffee.jpg" width="200" height="auto">
								<div class="price-bottom">
									<h1><span>£</span> 1.20</h1>
									<a href="/transactionProduct/5c7d1c01f35e6e523853b516" class="primary-btn header-btn">Buy Now</a>
								</div>
							</div>				
						</div>								
					    </div>					
					</div>
                    
				</div>	


               
			</section>
			<!-- End price Area -->
		

</body>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
</html> 
