<header>
  
		<link rel="stylesheet" href="/css/topup.css"/>


</header>

<body>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
 {{/if}}

<!-- Start price Area -->
			<section class="price-area pt-100" id="price">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10 text-uppercase">E-Card Top up balance</h1>
								<p>Buy what you want with one tap of the card</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>£10 Top up</h4>
								</div>
								<p>
									£10 option choice
								</p>
								<div class="price-bottom">
									<h1><span>£</span> 10</h1>
									<a href="/dashboard/topup/option/5dad8ceef85e512ec82fc1c0" class="primary-btn header-btn">Topup</a>
								</div>
							</div>
						</div>


						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>£15 Top up</h4>
								</div>
								<p>
									£15 option choice
								</p>

								<div class="price-bottom" >
									<h1><span>£</span> 15</h1>
									<a href="/dashboard/topup/option/5dad8cf8f85e512ec82fc1c1" class="primary-btn header-btn">Topup</a>
								</div>

							</div>				
						</div>				



						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>£25 Top up</h4>
								</div>
								<p>
									£25 option choice 
								</p>
								<div class="price-bottom">
									<h1><span>£</span> 25</h1>
									<a href="/dashboard/topup/option/5dad8d6bf85e512ec82fc1c2" class="primary-btn header-btn">Topup</a>
								</div>
							</div>				
						</div>				


						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>£45 Top up</h4>
								</div>
								<p>
									£45 option choice 
								</p>
								<div class="price-bottom">
									<h1><span>£</span> 45</h1>
									<a href="/dashboard/topup/option/5dad8d74f85e512ec82fc1c3" class="primary-btn header-btn">Topup</a>
								</div>
							</div>				
						</div>				


						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>£65 Top up</h4>
								</div>
								<p>
									£65 option choice 
								</p>
								<div class="price-bottom">
									<h1><span>£</span> 65</h1>
									<a href="/dashboard/topup/option/5dad8d7cf85e512ec82fc1c4" class="primary-btn header-btn">Topup</a>
								</div>
							</div>				
						</div>				



						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>£100 Top up</h4>
								</div>
								<p>
									£100 option choice 
								</p>
								<div class="price-bottom">
									<h1><span>£</span> 100</h1>
									<a href="/dashboard/topup/option/5dad8d83f85e512ec82fc1c5" class="primary-btn header-btn">Topup</a>
								</div>
							</div>				
						</div>		

					</div>
				</div>	
			</section>
			<!-- End price Area -->
</body>